#anasayfa{
    background-image: url("image/arkaplan.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.resim{
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px){
    .resim{
        width: 125px;
        height: 125px;
    }
    
}

.navbar{
    background: #414344;
}